@font-face {
    font-family: 'Berkshire';
    src: url('../fonts/Berkshire/BerkshireSwash-Regular.ttf');
}

@font-face {
    font-family: 'Josefin';
    src: url('../fonts/Josefin/JosefinSans/static/JosefinSans-Regular.ttf');
}
